* {
  margin: 0;
  padding: 0;
  margin: auto;
}
.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  background-color: #1e1f24;
  color: #fff;
  height: 160px;
  width: 80vw;
  padding: 18px;
}
.main label {
  text-align: start;
  width: 100%;
}
.main > div {
  display: flex;
  flex-direction: column;
}
select {
  height: 36px;
  width: 200px;
  background-color: #35373d;
  color: #86878a;
}

.angebote {
  background-color: #e04b00;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 200px;
  height: 36px;
  color: #fff;
}
